.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    background-color: transparent;
    min-height: 100vh;
    max-width: 375px;
}

.todos {
    margin: 1rem auto;
    width: 95%;
    border-radius: 5px;
    background-color: var(--bkg-primary);
    padding: 0.5rem;
}

@media screen and (min-width: 376px) {
    .wrapper {
        max-width: 480px;
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        max-width: 550px;
        height: auto;
    }
}